@charset "utf-8";
/* CSS Document */
.right_content{
	width:280px;
	float:left;
	height:995px;
}

.title_box1{
	width:305px;
	height:30px;
	background:#F30 no-repeat center;
	margin:-52px 0 0 0;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	color:#306;
	line-height:30px;
	border-radius: 5px 5px 5px 5px;
}

.title_box1 ul{
	width:263px;
	height:80px;
	border-radius: 5px 5px 5px 5px;
	margin-top:0px;
	background:#FFC;
}
.title_box3{
	width:305px;
	height:30px;
	background:#F30 no-repeat center;
	margin:70px 0 0 0;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	color:#306;
	line-height:30px;
	border-radius: 5px 5px 5px 5px;
}

.title_box3 ul{
	width:263px;
	height:230px;
	border:1px inset;
	margin:0px 0 0 10;
	list-style:none;
	float:left;
}

.title_box3 .pro_details_tab{
	margin-left:40px;
}

